* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

:root {
  --branco: #F9F9F9;
  --cinza: #1D1D1D;
  --vermelho: #EC111A;
}

body {
  display: flex;
  height: 100vh;
  background-image: url('./assets/images/spider-man-miles-morales-4k-2020-ix-1920x1080\ 1.png');
  background-position: center;
  background-repeat: no-repeat;
}

aside {
  border: 1px solid black;
  /*width: 60px;*/
  width: 6%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.perfil_picture {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.div-aside {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.division_aside {
  display: flex;
  justify-content: space-around;

}

.social_medias {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social_medias img {
  width: 100%;
}


.search {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

main {
  width: 94%;
  height: 100vh;
}

header {
  border: 1px solid black;
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--branco);
}

nav {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--branco);
  background-color: var(--cinza);
  border-color: var(--vermelho);
  width: 300px;
  justify-content: space-evenly;
  /*justify-content: center;*/
  align-items: center;
  height: 60px;
  margin-top: 40px;
  clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%, 0 20%);
}
