* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

:root {
  --branco: #F9F9F9;
  --cinza: #1D1D1D;
  --vermelho: #EC111A;
}

body {
  display: flex;
  height: 100vh;
  background-image: url('../images/spider.png');
  background-position: center;
  background-repeat: no-repeat;
}

aside {
  /*width: 60px;*/
  width: 6%;
  height: 100vh;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: rgba(29, 29, 29, 0.5);
}

.perfil_picture {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.div-aside {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.division_aside {
  display: flex;
  justify-content: space-around;

}

.social_medias {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social_medias img {
  width: 100%;
}


.search {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

main {
  width: 94%;
  height: 100vh;
}

header {
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: rgba(29, 29, 29, 0.5);
}

nav a {
    text-decoration: none;
    color: var(--branco);
    
}

nav {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.info {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--branco);
  background-color: var(--cinza);
  border-color: var(--vermelho);
  width: 300px;
  justify-content: space-evenly;
  /*justify-content: center;*/
  align-items: center;
  height: 60px;
  margin-top: 40px;
  clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%, 0 20%);
}

@media (min-width: 320px) and (max-width: 767.99px) {
  
  body {
    background-position: calc(70%);
    flex-direction: column;
    height: calc(100vh - 50px);
  }

  aside {
    order: 1;
    width: 100%;
    height: auto;
  }

  .div-aside {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  .social_medias {
    height: auto;
    display: flex;
    justify-content: space-around;
    width: 200px;
  }
  
  .social_medias img {
    width: 100%;
  }
  
  
  .search {
    display: flex;
    justify-content: center;
  }

  .search img {
    width: 100%;
  }

  main {
    width: 100%;
    height: 87vh;
  }

  .info {
    width: 100;
  }

  .container {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .info img {
    width: 85%;
  }


}
